{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",

  "plugins": [
    "react",
    "jsx-a11y",
    "flowtype",
    "import"
  ],

  "globals": {
    "require": true,
    "console": true,
    "document": true,
    "process": true,
    "module": true,
    "__dirname": true,
  },

  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },

  "env": {
    "browser": true,
    "node": true,
  },

  "rules": {
    "strict": [2, "never"],
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2
  }
}
