# Build output
/dist/*


# Package locking
*-lock.json


# Node dependencies
/node_modules/*


# Typings
/flow-typed/


# Non-git hidden file patterns
.*
!.git*

# Configuration files
!.babelrc
!.flowconfig
!.eslintrc

