<!DOCTYPE html>


<html>
  <head>
    <meta charset="UTF-8">
    <title>NodeJS + React + WebPack</title>

    <link rel=stylesheet href=/application.js>
    <link rel=stylesheet href=/application.css>
  </head>

  <body>
    <section id=application-root>
      <%- htmlWebpackPlugin.options.initialContent %>
    </section>
  </body>
</html>
